@font-face {
  font-family: "Open Sans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

/*      общие настройки*/

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.container {
  width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
/*      общие настройки*/

.wrapper-header {
  position:relative;
  min-width: 1200px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding-bottom: 95px;
  padding-top: 30px;
  color: #fff;
}

.wrapper-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.2;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 36px;
}

.menu-list-link {
  text-decoration: none;
  color: inherit;
}

.header-title-block {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  text-align: center;
}

.header-title {
  font-size: 45px;
  line-height: 75px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
  
  /* content*/
  
  .main {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .news-card {
    width: 778px;
  }
  
  .card-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .card-post:nth-child(n + 2) {
    margin-top: 58px;
  }
  
  .card-image {
    width: 383px;

  }
  
  .card-info {
    width: 367px;
  }
  
  .card-tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
    margin:0;
  }
  
  .card-tag-item {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #b59f5b;
    margin-right: 20px;
  }
  .card-tag-item:last-child{
    margin-right: 0;
  }
  .card-tag-link {
    text-decoration: none;
    color:inherit;
  }
  .card-title-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  .card-title-link{
    text-decoration: none;
    color: inherit;
  }
  .card-information {
    margin-top: 25px;
  }
  .card-time {
    font-size: 12px;
    line-height: 1.2;
    color: #888888;
  }
  .card-author {
display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
  }
.card-author-link{
  text-decoration: none;
  color:inherit;
}
  .card-text {
    font-size: 15px;
    line-height: 22px;
    margin-top: 48px;
  }
  /* основное  */
  /* боковая часть  */
  .right-menu {
    width: 272px;
  }
  .aside-block:nth-child(n+2){
    margin-top:55px;
  }
  .aside-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  .aside-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .recent-post-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

  }
  .recent-post-card:nth-child(n + 2) {
    margin-top: 20px;
  }
  .recent-post-image {
    width: 70px;
    margin-right: 20px;
  }
  
  .recent-post-time{
    font-size: 12px;
    line-height: 1.2;
    color: #888888;
    display: block;
    margin-bottom: 10px;

  }
  .recent-post-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }
  .recent-post-link{
    text-decoration: none;
    color:inherit;
  }
  
  .search-block{
    display: flex;
  }
  .field {
    font-size: 13px;
    line-height: 30px;
    background-color: #f4f7f6;
    padding: 10px 20px;
    border: none;
    height: 50px;
    vertical-align: middle;
    box-sizing: border-box;
  }
  
  .button {
    border: none;
    vertical-align: middle;
    background-color: #b59f5b;
    height: 50px;
  }

  .search-button {
    width: 50px;
    height: 50px;
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg")
      no-repeat center;
    background-size: 20px;
    background-color: #b59f5b;
    border: none;
    vertical-align: middle;
  }
  
  .mail-menu {
    margin-top: 55px;
    text-align: center;
  }
  .email {
    width: 272px;
    box-sizing: border-box;
  }
  
  .subscribe-button {
    display: block;
    margin-top: 20px;
    width: 272px;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #b59f5b;
    height: 50px;
  }
  }
  .tags {
    margin-top: 60px;
  }
  .tags-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .tag-link {
    border: 1px solid #eeeeee;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .categories {
    margin-top: 40px;
  }
  
  .categories-link {
    display: block;
    border-bottom: 2px solid #eeeeee;
    height: 40px;
  }
  
  .categories-name {
    font-size: 14px;
    line-height: 43px;
    font-weight: 700;
    text-transform: capitalize;
    vertical-align: middle;
  }
  .categories-amount {
    font-size: 12px;
    line-height: 35px;
    font-weight: 700;
    color: #b59f5b;
    vertical-align: top;
  }
  /* подвал*/
  .footer {
    margin-top: 70px;
  }
  .social-links-container {
    min-height: 80px;
    background-color: #f4f7f6;
  }
  .social-link-items,
  .copyright-container {
    width: 778px;
    display: flex;
    justify-content: flex-end;
    min-height: 80px;
  }
  .address,
  .copyright {
    width: 367px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
  
  .social-link-item {
    width: 22px;
    height: 22px;
    padding: 15px;
  }
  .address img {
    width: 22px;
    height: 22px;
  }
  .copyright-container {
    margin-top: 45px;
  }
  
  .copyright {
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    color: #999999;
  }
  